doctype 5
html(lang="en")
	head
		title ="Tweet Wall LandL"
		script(src='http://code.jquery.com/jquery-1.10.1.min.js')
		script(src='/tweet.js')
		script(src='/socket.io/socket.io.js')
		link(rel='stylesheet', href='./css/estilo.css')
	body
		h1 #hashtag
		#content
		